@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
body {
  transition: background 0.3s ease, color 0.3s ease;
}

/* Light Mode */
body.light {
  background: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark {
  background: rgba(16, 24, 40);
  color: #ffffff;
}

/* Button styling */
.toggle-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background: #6c63ff;
  color: white;
  transition: 0.3s;
}

.toggle-btn:hover {
  opacity: 0.9;
}
.learn {
   font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
