@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import "tailwindcss";
.acct {
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.lead {
  color: #4B5563; /* Tailwind gray-600 equivalent */
  font-family: 'Inter', sans-serif; /* modern, professional font */
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  line-height: 1.5;
  background: linear-gradient(90deg, #6c63ff, #4f46e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.welcome {
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.name {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}